<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-survey-detail-wrap">
            <div class="section-info">
                <div class="section-info-content-1">
                    <div class="w-survey-detail-survey-name">
                        <button class="btn-w-survey-detail-back" (click)="backToSurveyList()">
                            <tui-svg [src]="'tuiIconArrowLeftLarge'" class="ic-back"></tui-svg>
                        </button>
                        {{survey?.name}}
                    </div>
                </div>
                <div class="section-info-content-2">
                    <div class="w-100 space-y-3">
                        <div class="flex items-start justify-start gap-4">
                            <tui-marker-icon size="xs" mode="success" [src]="'tuiIconPocket'"></tui-marker-icon>
                            <pre class="w-survey-detail-survey-des">{{survey?.description}}</pre>
                        </div>
                        <div class="flex items-start justify-start gap-4">
                            <tui-marker-icon size="xs" mode="success" [src]="'tuiIconPocket'"></tui-marker-icon>
                            <pre class="w-survey-detail-survey-des">{{t("features.pages.survey-detail.des")}}</pre>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="take-quiz-wrap">
                            <div class="title">{{t("features.pages.survey-detail.title")}}</div>
                            <button class="btn-do-quiz" (click)="toDoSurvey()">{{t("features.pages.survey-detail.btn-do-quiz")}}</button>
                        </div>
                        <div class="note">{{t("features.pages.survey-detail.note")}}*</div>
                    </div>
                </div>
            </div>
            <div class="section-image" *ngIf="survey?.imageThumbnail">
                <img [src]="urlImageBase + survey?.imageThumbnail" alt="" />
            </div>
        </div>
    </ng-container>
</ng-container>