.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $skin;

  .footer-content {
    width: $wContainer;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 50px;
    padding: 20px 0;

    &-left {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 10px;
      color: #505050;

      div:nth-child(1) {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &-center {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 10px;
      color: #505050;

      div:nth-child(1) {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom: 1px solid #C7C7C7;
        padding-bottom: 10px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 10px;
      color: #505050;

      div:nth-child(1) {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom: 1px solid #C7C7C7;
        padding-bottom: 10px;
      }
    }
  }

  .footer-copyright {
    width: $wContainer;
    height: $mFooterHeight;
    text-align: center;
    color: $darker;
    font-weight: 500;
    border-top: 1px solid #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
