.m-header-normal {
  .m-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: $mHeaderHeight;
    z-index: 1000;
    padding: 0 $paddingLR;
    background-color: $darker;

    .m-header-back {
      width: $mHeaderButton;
      height: $mHeaderButton;
      display: flex;
      align-items: center;
      justify-content: center;

      background: transparent;
      border-radius: 100px;

      app-icon {
        width: $mHeaderIcon;
        height: $mHeaderIcon;
        color: $green;
      }
    }

    .m-header-cart {
      width: $mHeaderButton;
      height: $mHeaderButton;
      display: flex;
      align-items: center;
      justify-content: center;

      background: transparent;
      border-radius: 100px;

      position: relative;

      img {
        width: 27px;
        height: 27px;
        object-fit: cover;
      }

      .cart-bagde {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background: $error;
        color: $green;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $green;
      }
    }

    .m-header-menu {
      width: $mHeaderButton;
      height: $mHeaderButton;
      display: flex;
      align-items: center;
      justify-content: center;

      background: transparent;
      border-radius: 100px;

      app-icon {
        width: $mHeaderIcon;
        height: $mHeaderIcon;
        color: $green;
      }
    }
  }
}

.m-header-transparent {
  .m-header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $mHeaderHeight;
    z-index: 1000;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    padding: 0 $paddingLR;
    display: flex;
    justify-content: center;
    align-content: center;

    &.active {
      position: fixed;
      height: $mHeaderHeight;
      background-color: $darker;
    }

    .m-header-back {
      width: $mHeaderButton;
      height: $mHeaderButton;
      display: flex;
      align-items: center;
      justify-content: center;

      background: rgba(255, 255, 255, 0.2);
      border-radius: 100px;

      &.active {
        background: transparent;
      }

      app-icon {
        width: $mHeaderIcon;
        height: $mHeaderIcon;
        color: $green;
      }
    }

    .m-header-cart {
      width: $mHeaderButton;
      height: $mHeaderButton;
      display: flex;
      align-items: center;
      justify-content: center;

      background: rgba(255, 255, 255, 0.2);
      border-radius: 100px;

      position: relative;

      &.active {
        background: transparent;
      }

      img {
        width: 27px;
        height: 27px;
        object-fit: cover;
      }

      .cart-bagde {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background: $error;
        color: $green;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $green;
      }
    }

    .m-header-menu {
      width: $mHeaderButton;
      height: $mHeaderButton;
      display: flex;
      align-items: center;
      justify-content: center;

      background: rgba(255, 255, 255, 0.2);
      border-radius: 100px;

      &.active {
        background: transparent;
      }

      app-icon {
        width: $mHeaderIcon;
        height: $mHeaderIcon;
        color: $green;
      }
    }

    .title {
      color: white;
      font-weight: 600;
      font-size: 18px;
      @apply text-left
    }
  }
}
