.m-layout {

  main {
    background: $darker;
  }

  &.m-active-nav {
    padding-bottom: $mNavHeight;

    main {
      min-height: calc(100vh - $mNavHeight);
    }
  }

  &:not(.m-active-nav) {

    &.m-active-footer {
      main {
        min-height: calc(100vh - $mFooterHeight);
      }
    }

    &:not(m-active-footer) {
      main {
        min-height: 100vh;
      }
    }
  }
}
