.m-navigation {
  position: fixed;
  z-index: 999; // modal z-index = 1000;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(black, 0.15);
  background-color: $darker;
  display: flex;
  align-items: center;
  text-align: center;
  height: $mNavHeight;

  app-icon {
    width: 20px;
    height: 20px;
  }

  .nav-item {
    flex: 0 1 100%;
    padding: 0 5px;
    overflow: hidden;
    color: $light;

    .title{
      font-size: 10px;
    }
  }

  .active {
    app-icon {
      color: $green;
    }

    color: $green;
  }
}
