.w-home-page-slogan-title {
  color: #87D1CD;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.w-home-page-slogan-description {
  margin-top: 10px;
  color: #262626;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}