.product-wrap {
  background: #F8F8F8;
  min-height: calc(100vh - 90px);

  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: black;
    height: 1px;
  }

  .btn-detail-product {
    background-color: #87D1CD;
    width: 100%;
    padding: 12px 16px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-align: center;

    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
      background-color: $green;
    }
  }

  .btn-to-home {
    background-color: $darker;
    width: 100%;
    padding: 12px 16px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
      background-color: $darker;
    }
  }
}

.break-word {
  // deprecated, non-standard but work fine on --webkit browser
  word-break: break-word;
  // legacy keyword
  word-wrap: break-word;
  // same as legacy word-wrap: break-word
  overflow-wrap: anywhere;
}

.html-wrap {
  @extend .break-word;

  img, iframe, video {
    max-width: 100% !important;
  }

  img {
    height: auto !important;
  }
}