.w-quiz-wrap {
  padding: 50px 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #F8F8F8;

  .w-quiz-content {
    width: $wContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;

    .w-question-name {
      width: 100%;
      text-align: center;
      color: $darker;
    }

    img {
      max-width: 100%;
      height: auto !important;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h1 {
      font-size: 40px;
      line-height: 1.25;
      font-weight: 700;
    }

    h2 {
      font-size: 28px;
      line-height: 1.125;
      font-weight: 700;
    }

    h3 {
      font-size: 26px;
      line-height: 1.125;
      font-weight: 700;
    }

    h4 {
      font-size: 24px;
      line-height: 1.125;
      font-weight: 600;
    }

    h5 {
      font-size: 22px;
      line-height: 1.125;
      font-weight: 500;
    }

    h6 {
      font-size: 20px;
      line-height: 1.125;
      font-weight: 500;
    }

    section, ul li, p, div, span, a {
      font-size: 18px;
      line-height: 1.5;
    }

    ul {
      margin-bottom: 0;
      padding-bottom: 6px;
    }
  }

  .w-quiz-footer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F8F8F8;

    .btn-next-question-quiz {
      background-color: $dark;
      width: 180px;
      padding: 12px 16px;
      border-radius: 30px;
      transition: all .3s ease-in-out;
      color: white;
      font-weight: 500;
      opacity: 0.4;

      &.active {
        opacity: 1;
        background-color: $green;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
          transform: scale(0.9);
        }
      }
    }

    .btn-ic-prev {
      color: $dark;
      background: $gray;

      &.active {
        color: white;
        background: $green;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
          opacity: 0.8;
          transform: scale(0.9);
        }
      }
    }

    .btn-ic-next {
      color: $dark;
      background: $gray;

      &.active {
        color: white;
        background: $green;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
          opacity: 0.8;
          transform: scale(0.9);
        }
      }
    }
  }

  .w-quiz-page-thank-title {
    color: #87D1CD;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }

  .w-quiz-page-thank-description {
    margin-top: 20px;
    color: #262626;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    width: 800px;
  }

  .btn-to-home {
    background-color: $darker;
    width: 180px;
    padding: 12px 16px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
      background-color: $darker;
    }
  }

  .btn-to-product-recommend {
    background-color: #87D1CD;
    width: 180px;
    padding: 12px 16px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
      background-color: $green;
    }
  }

  .btn-to-redo {
    background-color: #c5b0d8;
    width: 180px;
    padding: 12px 16px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
      background-color: $purple;
    }
  }
}

.w-question-answer-display-type-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 850px;
  gap: 30px;
}

.w-question-answer-display-type-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.w-card-quiz-grid {
  padding: 12px;
  border-radius: 26px;
  background: #FFF;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
  min-width: 238px;
  max-width: 417px;
  cursor: pointer;
  border: 2px solid #e8e8e8;
}

.w-grid-answer-display-type-select {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 20px;

  img {
    width: 220px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 14px;
  }

  justify-content: center;
  width: 100%;
  &.with-image {
    width: 238px;
    justify-content: flex-start;
  }

  &:hover {
    border: 2px solid $green;
  }

  &.active {
    border: 2px solid $green;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.15);
  }
}

.w-card-quiz-list {
  padding: 12px;
  border-radius: 26px;
  background: #FFF;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
  width: 100%;
  cursor: pointer;
  border: 2px solid #e8e8e8;
}

.w-list-answer-display-type-select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 20px;

  img {
    width: 120px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 14px;
  }

  &:hover {
    border: 2px solid $green;
  }

  &.active {
    border: 2px solid $green;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.15);
  }
}

.w-list-answer-display-type-progress-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .status-progress {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 600;
  }
}

.w-list-answer-display-type-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  textarea {
    width: 90%;
    border-radius: 26px;
    resize: none;
    padding: 16px;
    font-size: 14px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);

    &:focus {
      outline: none !important;
      border: 2px solid $green;
      box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.15);
    }
  }
}