.w-survey-category-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  height: 300px;

  .w-survey-category-item {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    .survey-category-image {
      width: 200px;
      height: 200px;
      object-fit: fill;
      border-radius: 20px;
    }

    .survey-category-name {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .btn-to-survey {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 30px;
      background: #87D1CD;
      transition: all .3s ease-in-out;

      span {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .btn-to-survey-arrow {
        display: none;
        opacity: 0;
        color: white;
      }
    }

    &:hover {
      transform: scale(1.1);

      .btn-to-survey {
        transform: scale(0.9);
        background: $green;

        .btn-to-survey-arrow {
          display: block;
          opacity: 1;
          color: white;
        }
      }
    }
  }
}