.btn-w-survey-list-back {
  background-color: $purple;
  padding: 0 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  margin-right: 10px;

  .ic-back {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: -40px;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }
}

.w-survey-list-survey-category-name {
  width: 100%;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.w-survey-list-survey-category-des {
  width: 100%;
  text-align: justify;
  margin-top: 30px;
  background: transparent;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 16px;
  line-height: 26px;
  word-break: break-word;
  white-space: pre-wrap;
}

.w-survey-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;

  .w-survey-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    .survey-image {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: fill;
      border-radius: 20px;
    }

    .survey-name {;
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .btn-do-survey {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 30px;
      background: #87D1CD;
      transition: all .3s ease-in-out;

      span {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .btn-do-survey-arrow {
        display: none;
        opacity: 0;
        color: white;
      }
    }

    &:hover {
      transform: scale(1.1);

      .btn-do-survey {
        transform: scale(0.9);
        background: $green;

        .btn-do-survey-arrow {
          display: block;
          opacity: 1;
          color: white;
        }
      }
    }
  }
}