.w-survey-detail-wrap {
  padding: 100px 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff3ed;

  .section-info {
    width: $wContainer;
    display: grid;
    grid-template-columns: 1fr 550px;
    gap: 200px;

    &-content-1 {
    }

    &-content-2 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 30px;

      .take-quiz-wrap {
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 180px;
        gap: 40px;
        align-items: center;

        .title {
          font-family: 'Noto Sans', sans-serif !important;
          font-size: 15px;
          font-weight: 600;
          line-height: 24px;
        }

        .btn-do-quiz {
          height: 42px;
          padding: 0 16px;
          border-radius: 30px;
          background: $darker;
          transition: all .3s ease-in-out;
          color: #FFF;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          &:hover {
            transform: scale(0.94);
            background: $darker;
          }
        }
      }

      .note {
        font-size: 12px;
        font-weight: 600;
        text-align: justify;
        opacity: 0.8;
        margin-top: 10px;
      }
    }
  }

  .section-image {
    margin-top: 60px;
    width: 100vw;
    height: 500px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 450px;
      object-fit: fill;
      border-radius: 20px;
    }
  }
}

.w-survey-detail-survey-name {
  width: 100%;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.w-survey-detail-survey-des {
  width: 100%;
  text-align: justify;
  background: transparent;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 16px;
  word-break: break-word;
  white-space: pre-wrap;
  line-height: 26px;
  font-weight: 500;
}

.btn-w-survey-detail-back {
  background-color: $purple;
  padding: 0 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  margin-right: 10px;

  .ic-back {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: -40px;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }
}
