<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-survey-category-list">
            <ng-container *ngFor="let surveyCategory of surveyCategoryList">
                <app-survey-category-card-item [surveyCategory]="surveyCategory"></app-survey-category-card-item>
            </ng-container>
        </div>
    </ng-container>
</ng-container>