<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-100 mx-auto flex flex-col items-center">
            <app-banner></app-banner>
            <div class="w-container">
                <div class="w-100 flex flex-col items-center py-[50px] gap-y-[30px]">
                    <div class="w-[80%]">
                        <div class="w-home-page-slogan-title">{{t("features.pages.home-page.slogan-title")}}</div>
                        <div class="w-home-page-slogan-description">{{t("features.pages.home-page.slogan-description")}}</div>
                    </div>
                    <app-survey-category-list></app-survey-category-list>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
        <app-m-header-transparent></app-m-header-transparent>
        <app-banner></app-banner>
    </ng-container>
</ng-container>
