@layer base {
  .m-bg-main {
    background: $green-bg;
  }

  .m-bg-image {
    background-image: url("/assets/images/movie-pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
