body {
  font-family: 'Noto Sans', sans-serif !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.border-top {
  border-top: 1px solid $gray;
}

.m-container {
  max-width: $mContainerMaxWidth;
  margin: 0 auto;
}

.m-container-1 {
  padding: 0 $paddingLR;
}

.m-container-2 {
  padding: $paddingLR;
}

.m-main-label {
  color: $dark;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px
}

.m-main-text {
  color: $dark;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px
}
