<ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
    <nav class="w-navigation">
        <div class="nav-content">
            <div class="logo" routerLink="/">Beauty Match</div>
            <div class="user">
                <ng-container *ngIf="true">
                    <div class="flex items-center gap-7">
                        <ng-container *ngIf="(account$ | async) as account">
                            <tui-hosted-dropdown [content]="accountMenu">
                                <ng-container *ngTemplateOutlet="contentAccount"></ng-container>
                            </tui-hosted-dropdown>
                        </ng-container>
                        <ng-container *ngIf="!(account$ | async)">
                            <tui-avatar [avatarUrl]="'tuiIconUser'" size="s" class="visitor" (click)="logInOutDialog(authDialog)"></tui-avatar>
                        </ng-container>
                        <tui-hosted-dropdown [content]="contentForLang">
                            <ng-container *ngTemplateOutlet="flagImage; context: {$implicit: activeLang}"></ng-container>
                        </tui-hosted-dropdown>
                    </div>
                </ng-container>
                <ng-container *ngIf="false">
                    <tui-avatar
                            text="Evgeniy Mamaev"
                            class="custom tui-space_top-1"
                    ></tui-avatar>
                </ng-container>
            </div>
        </div>
        <div class="nav-line-bottom">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
</ng-container>

<ng-template #contentAccount>
    <ng-container *ngIf="(account$ | async) as account">
        <div class="w-[40px] h-[40px] rounded-full bg-[#DBC4F0] flex items-center justify-center">
            <div class="font-bold text-xl">{{account.fullName?.charAt(0)}}</div>
        </div>
    </ng-container>
</ng-template>

<ng-template #accountMenu>
    <ng-container *ngIf="(account$ | async) as account">
        <div class="flex flex-col gap-[4px] px-[16px] py-[8px] border-b">
            <div class="text-sm">{{account.fullName}}</div>
            <div>{{account.mobile}}</div>
        </div>
        <tui-data-list role="menu" *ngIf="(account$ | async) as account">
            <tui-opt-group>
                <a tuiOption type="button" (click)="logOut()">
                    <div class="flex">
                        <div>Đăng xuất</div>
                    </div>
                </a>
            </tui-opt-group>
        </tui-data-list>
    </ng-container>
</ng-template>

<ng-template #contentForLang>
    <tui-data-list role="menu" *ngIf="availableLangs">
        <tui-opt-group>
            <ng-container *ngFor="let lang of availableLangs">
                <a tuiOption type="button" (click)="setActiveLang(lang?.id)">
                    <div class="flex">
                        <ng-container *ngTemplateOutlet="flagImage; context: {$implicit: lang?.id}"></ng-container>
                        <span class="ml-3 mt-1">{{lang?.label}}</span>
                    </div>
                </a>
            </ng-container>
        </tui-opt-group>
    </tui-data-list>
</ng-template>

<ng-template #flagImage let-lang>
    <button type="button">
        <img class="w-6 mt-[5px]"
             [src]="'assets/svg/flags/' + flagCodes[lang].toUpperCase() + '.svg'"
             [alt]="'Flag image for ' + lang" />
    </button>
</ng-template>

<ng-template #authDialog let-observer>
    <ng-container *transloco="let t;">
        <form *ngIf="isRegister && !isLogin" [formGroup]="registerForm" (ngSubmit)="onSubmit('isRegister', observer);" class="flex flex-col gap-6">
            <div>
                <div class="w-auth-pop-title">{{t("features.layout.components.w-navigation.auth.register.header-title")}}</div>
                <div class="w-auth-pop-des">{{t("features.layout.components.w-navigation.auth.register.header-des")}}</div>
            </div>
            <tui-input formControlName="fullName">
                {{t("features.layout.components.w-navigation.auth.register.input-fullName")}}
            </tui-input>
            <tui-input formControlName="mobile" >
                {{t("features.layout.components.w-navigation.auth.register.input-mobile")}}
            </tui-input>
            <tui-input formControlName="password" >
                {{t("features.layout.components.w-navigation.auth.register.input-password")}}
                <input tuiTextfield type="password" />
            </tui-input>
            <div class="w-100 flex flex-col items-stretch justify-center">
                <div class="text-center">{{t("features.layout.components.w-navigation.auth.register.already-have-an-account")}}&emsp;
                    <span class="cursor-pointer text-[#9FD19F] hover:underline"
                          (click)="isLogin = true; isRegister = false">{{t("features.layout.components.w-navigation.auth.register.btn-login")}}</span>
                </div>
                <button type="submit" class="btn-auth-pop mt-3">{{t("features.layout.components.w-navigation.auth.register.btn-register-submit")}}</button>
            </div>
        </form>

        <form *ngIf="!isRegister && isLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit('isLogin', observer)" class="flex flex-col gap-6">
            <div>
                <div class="w-auth-pop-title">{{t("features.layout.components.w-navigation.auth.login.header-title")}}</div>
                <div class="w-auth-pop-des">{{t("features.layout.components.w-navigation.auth.login.header-des")}}</div>
            </div>
            <tui-input formControlName="mobile" >
                {{t("features.layout.components.w-navigation.auth.login.input-mobile")}}
            </tui-input>
            <tui-input formControlName="password" >
                {{t("features.layout.components.w-navigation.auth.login.input-password")}}
                <input tuiTextfield type="password" />
            </tui-input>
            <div class="w-100 flex flex-col items-stretch justify-center">
                <div class="text-center">{{t("features.layout.components.w-navigation.auth.login.first-time-here")}}&emsp;
                    <span class="cursor-pointer text-[#9FD19F] hover:underline"
                          (click)="isLogin = false; isRegister = true">{{t("features.layout.components.w-navigation.auth.login.btn-register")}}</span>
                </div>
                <button type="submit" class="btn-auth-pop mt-3">{{t("features.layout.components.w-navigation.auth.login.btn-register-submit")}}</button>
            </div>
        </form>
    </ng-container>
</ng-template>