<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
        <div class="w-100 h-screen flex items-center justify-center bg-[#EDEDED]">
            <div class="p-[16px] w-100 flex flex-col items-center justify-center text-center gap-8">
                <div class="m-logo">Beauty Match</div>
                <div>
                    <div class="font-medium text-[#87D1CD] text-sm">{{t("features.pages.mobile-page.title-1")}}</div>
                    <div class="font-medium text-[#87D1CD] text-sm">{{t("features.pages.mobile-page.title-2")}}</div>
                    <div class="opacity-40 mt-3 text-[12px]">{{t("features.pages.mobile-page.des")}}</div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>