<ng-container *transloco="let t;">
  <ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
    <app-m-header></app-m-header>
    <section class="m-container-1">
      <div>

      </div>
    </section>
  </ng-container>
</ng-container>

