<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="product-wrap">
            <div *ngIf="productResult" class="w-100 flex justify-center">
                <div class="w-container grid grid-cols-2 gap-52 p-[20px] bg-white mt-[30px] rounded-2xl">
                    <div class="col-span-1">
                        <img class="rounded-[8px] border-2" [src]="productResult.imageThumbnail" alt="" width="550" height="550" />
                    </div>
                    <div class="col-span-1 flex flex-col gap-5">
                        <div class="mt-6 font-medium text-3xl">{{productResult.name}}</div>
                        <hr class="m-0 p-0" />
                        <div class="font-bold text-red-600 text-2xl">{{productResult.price | price}}</div>
                        <div class="grid grid-cols-2 gap-10 items-center justify-center w-100 mt-[20px]">
                            <a [href]="productResult.url" class="btn-detail-product" target="_blank">{{t("features.pages.quiz.detail-buy")}}</a>
                            <button class="btn-to-home" routerLink="/">{{t("features.pages.quiz.home")}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="productResult && productResult.descriptionFull" class="w-100 flex justify-center bg-[#f5f5f5]">
                <div class="w-container grid grid-cols-1 gap-52 mt-[20px]">
                    <div class="col-span-1">
                        <div class="bg-white p-6 rounded-2xl">
                            <div [innerHTML]="productResult.descriptionFull | bypass"></div>
                        </div>
                    </div>
                    <div class="col-span-1"></div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>