<ng-container *transloco="let t;">
  <nav class="m-navigation">
    <a [routerLink]="ROUTING_TYN.DEFAULT" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <app-icon type="icHome"></app-icon>
      <div class="truncate title uppercase mt-1">{{t('features.layout.components.mobile-navigation.menu-1')}}</div>
    </a>
    <a [routerLink]="ROUTING_TYN.DEFAULT" class="nav-item" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">
      <app-icon type="icFilm"></app-icon>
      <div class="truncate title uppercase mt-1">{{t('features.layout.components.mobile-navigation.menu-2')}}</div>
    </a>
    <a [routerLink]="ROUTING_TYN.DEFAULT" class="nav-item" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">
      <app-icon type="icShop"></app-icon>
      <div class="truncate title uppercase mt-1">{{t('features.layout.components.mobile-navigation.menu-3')}}</div>
    </a>
    <a (click)="toNotification()" class="nav-item" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">
      <app-icon type="icNotification"></app-icon>
      <div class="truncate title uppercase mt-1">{{t('features.layout.components.mobile-navigation.menu-4')}}</div>
    </a>
    <a [routerLink]="ROUTING_TYN.PERSONAL" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <app-icon type="icAccount"></app-icon>
      <div class="truncate title uppercase mt-1">{{t('features.layout.components.mobile-navigation.menu-5')}}</div>
    </a>
  </nav>

</ng-container>
