<ng-container *transloco="let t;">
  <ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
    <div class="m-header-normal">
      <div class="m-header-wrapper">
        <ng-container *ngIf="mHeaderLeftContent">
          <div class="pr-[16px]">
            <ng-content select="[appMHeaderLeft]"></ng-content>
          </div>
        </ng-container>
        <ng-container *ngIf="!mHeaderLeftContent">
          <ng-container *ngIf="(mHeaderConfig$ | async)?.showBack">
            <div class="pr-[16px]">
              <div class="m-header-back" (click)="mBack()">
                <app-icon type="icMHeaderBack" class="fill-none"></app-icon>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="mHeaderCenterContent">
          <div class="flex-grow">
            <ng-content select="[appMHeaderCenter]"></ng-content>
          </div>
        </ng-container>
        <ng-container *ngIf="!mHeaderCenterContent">
          <div class="flex-grow">
            <ng-container *ngIf="(mHeaderConfig$ | async)?.showSearch && !(mHeaderConfig$ | async)?.title">
              <app-m-header-search [focusable]="false" class="w-full"></app-m-header-search>
            </ng-container>
            <ng-container *ngIf="!(mHeaderConfig$ | async)?.showSearch && (mHeaderConfig$ | async)?.title">
              <div></div>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="mHeaderRightContent">
          <div class="pl-[16px]">
            <ng-content select="[appMHeaderRight]"></ng-content>
          </div>
        </ng-container>
        <ng-container *ngIf="!mHeaderRightContent">
          <div #rightHeaderEL class="w-max gap-3 pl-[16px]" [ngClass]="rightHeaderLength > 0 ? 'grid grid-cols-'+rightHeaderLength : ''">

            <ng-container *ngIf="(mHeaderConfig$ | async)?.showSetting">
              <div class="m-header-menu">
                <app-icon [type]="'icMHeaderSetting'"></app-icon>
              </div>
            </ng-container>

            <ng-container *ngIf="(mHeaderConfig$ | async)?.showCart">
              <div class="m-header-cart" (click)="mToCart()">
                <img src="/assets/images/ticket.png" alt="..." />
                <div *ngIf="totalCartQty > 0" class="cart-bagde">
                  <div>{{totalCartQty}}</div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="(mHeaderConfig$ | async)?.showMenu">
              <div class="m-header-menu">
                <app-icon [type]="'icMenuDot'"></app-icon>
              </div>
            </ng-container>

          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
