<ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
    <div class="w-banner-carousel" *ngIf="items.length > 0; else wDefaultBanner;">
        <tui-carousel
                [draggable]="false"
                [duration]="6000"
                [itemsCount]="1"
                [(index)]="index"
                [style.--tui-carousel-padding]="0"
                [style.--tui-car]=""
        >
            <ng-container *ngFor="let item of items; let i = index">
                <img
                        *tuiItem
                        alt=""
                        draggable="true"
                        src="/assets/images/{{ item }}"
                        class="item object-fill p-0 m-0 w-full h-full"
                        height="350px"
                        [class.item_active]="i === index + 1"
                />
            </ng-container>
        </tui-carousel>
    </div>
</ng-container>

<ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
    <div class="m-banner-carousel" *ngIf="items.length < 0; else mDefaultBanner;">
        <tui-carousel
                [draggable]="true"
                [duration]="4000"
                [itemsCount]="1"
                [(index)]="index"
                [style.--tui-carousel-padding]="0"
                [style.--tui-car]=""
        >
            <ng-container *ngFor="let item of items; let i = index">
                <img
                        *tuiItem
                        alt=""
                        draggable="true"
                        src="/assets/images/{{ item }}"
                        class="item object-cover p-0 m-0 w-full h-full"
                        height="150px"
                        [class.item_active]="i === index + 1"
                />
            </ng-container>
        </tui-carousel>
    </div>
</ng-container>

<ng-template #mDefaultBanner>
    <img
            alt=""
            draggable="true"
            src="/assets/images/carousel-1.jpg"
            class="item object-cover p-0 m-0 w-full h-[150px]"
    />
</ng-template>

<ng-template #wDefaultBanner>
    <img
            alt=""
            draggable="true"
            src="/assets/images/carousel-1.jpg"
            class="item object-fill p-0 m-0 w-full h-[350px]"
    />
</ng-template>