<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-survey-item">
            <img class="survey-image" [src]="urlImageBase + survey.imageFeature" [alt]="survey.name" />
            <div class="survey-name">{{survey.name}}</div>
            <button class="btn-do-survey" (click)="navigateToSurveyDetail()">
                <span>{{t("shared.survey.survey-card-item.btn-survey")}}</span>
                <tui-svg [src]="'tuiIconArrowRight'" class="btn-do-survey-arrow"></tui-svg>
            </button>
        </div>
    </ng-container>
</ng-container>
