<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-100 mx-auto flex flex-col items-center">
            <div class="w-container">
                <app-survey-list class="w-100"></app-survey-list>
            </div>
        </div>
    </ng-container>
</ng-container>