<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <footer class="w-footer">
            <div class="w-footer-content">
                <div class="w-100 w-footer-content-left">
                    <div>{{t("features.layout.footer.company-name")}}</div>
                    <div>{{t("features.layout.footer.company-address")}}</div>
                    <div>Email: support@hebela.com</div>
                    <div>{{t("features.layout.footer.company-tel")}}: 1900866650</div>
                </div>
                <div class="w-100 w-footer-content-center">
                    <div>{{t("features.layout.footer.customer.title")}}</div>
                    <a href="https://hebela.com/tro-giup/bai-viet/cau-hoi-thuong-gap.50">-&emsp;{{t("features.layout.footer.customer.item-1")}}</a>
                </div>
                <div class="w-100 w-footer-content-right">
                    <div>{{t("features.layout.footer.about.title")}}</div>
                    <a href="https://hebela.com/tro-giup/bai-viet/chinh-sach-bao-mat.27">-&emsp;{{t("features.layout.footer.about.item-1")}}</a>
                    <a href="https://hebela.com/tro-giup/bai-viet/dieu-khoan-su-dung.34">-&emsp;{{t("features.layout.footer.about.item-2")}}</a>
                    <a href="https://hebela.com/tro-giup/bai-viet/gioi-thieu-hebela.41">-&emsp;{{t("features.layout.footer.about.item-3")}}</a>
                </div>
            </div>
            <div class="w-footer-copyright">
                <p>© 2020 {{t("features.layout.footer.copy-right-1")}}
                    <a href="https://hebela.com" target="_blank">{{t("features.layout.footer.copy-right-2")}}</a>
                </p>
            </div>
        </footer>
    </ng-container>
    <ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
        <footer class="footer">
            <p>Copyright © 2020
                <a href="https://hebela.com" target="_blank">TYN Star Cineplex</a>. All rights reserved
            </p>
        </footer>
    </ng-container>
</ng-container>
