<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-100 grid grid-cols-3 gap-[200px]">
            <div class="col-span-1 w-100 py-[50px]">
                <div class="w-survey-list-survey-category-name">
                    <button class="btn-w-survey-list-back" routerLink="/">
                        <tui-svg [src]="'tuiIconArrowLeftLarge'" class="ic-back"></tui-svg>
                    </button>
                    {{surveyCategory && surveyCategory.name}}
                </div>
                <pre class="w-survey-list-survey-category-des">{{surveyCategory && surveyCategory.description}}</pre>
            </div>
            <div class="col-span-2 w-100 w-survey-list py-[50px]">
                <ng-container *ngFor="let survey of surveyList">
                    <app-survey-card-item [survey]="survey"></app-survey-card-item>
                </ng-container>
            </div>
        </div>
    </ng-container>
</ng-container>