<ng-container *transloco="let t;">
  <ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
    <form class="w-full" [formGroup]="searchForm">
      <tui-input
        [focusable]="false"
        [tuiTextfieldSize]="'m'"
        [tuiTextfieldLabelOutside]="true"
        [style.border-radius]="'100px'"
        [style.border]="'none'"
        [style.--tui-height-m]="'36px'"
        [style.--tui-disabled-opacity]="1"
        [tuiTextfieldIconLeft]="'tuiIconSearch'"
        [tuiTextfieldCleaner]="true"
        [formControlName]="'keyword'"
        (focusedChange)="focusedChange($event)"
      >
        {{ formValue.keyword ? formValue.keyword : t('shared.m-header.components.m-header-search.search-placehoder') }}
        <input
          tuiTextfield
          type="text"
        />
      </tui-input>
    </form>
  </ng-container>
</ng-container>
