.error_container {

  .error_top {
    border-radius: $border-radius;
    background: #2C373B;
    height: 400px;
    padding: 15px;

    .error_top--highlight {
      padding: 15px;
      width: 100%;
      height: 100%;
      border: 3px solid $dark;
      border-radius: 20px;
      box-shadow: $ticket-shadow;

      .error-text {
        color: $error;
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }

  .error_bottom--highlight {
    border-radius: $border-radius;
    background: $light;
    position: relative;
    box-shadow: $ticket-shadow;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: -2px;
      left: 20px;
      width: 85%;
      border-top: 4px dashed $dark;
    }
  }
}
