<ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
    <app-loading [showLoader]="Boolean((loading$ | async)?.isLoading)" [overlay]="Boolean((loading$ | async)?.overlay)">
        <div class="w-layout">
            <app-w-navigation *ngIf="!(wHideNav$ | async)"></app-w-navigation>
            <main [class.hide-nav]="wHideNav$ | async">
                <router-outlet></router-outlet>
            </main>
            <app-footer *ngIf="wShowFooter$ | async"></app-footer>
        </div>
    </app-loading>
</ng-container>

<ng-container *ngIf="(deviceInfo$ | async)?.isMobile">
    <app-loading [showLoader]="Boolean((loading$ | async)?.isLoading)" [overlay]="Boolean((loading$ | async)?.overlay)">
        <div class="m-layout"
             [class.m-active-nav]="!(mHideNav$ | async)"
             [class.m-active-footer]="mShowFooter$ | async"
        >
            <main>
                <router-outlet></router-outlet>
            </main>
            <app-footer *ngIf="mShowFooter$ | async"></app-footer>
            <app-m-navigation *ngIf="!(mHideNav$ | async)"></app-m-navigation>
        </div>
    </app-loading>
</ng-container>
