<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-100 h-screen flex items-center justify-center bg-[#EDEDED]">
            <div class="flex items-center gap-12">
                <div class="text-[80px]">404</div>
                <div class="h-[130px] w-[5px] bg-black"></div>
                <div class="h-[130px] flex flex-col items-start justify-end gap-12">
                    <div class="w-logo">Beauty Match</div>
                    <button routerLink="/" class="btn-err-back-to-home">{{t("features.pages.error-page.btn-back-home")}}</button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>