.w-layout {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    margin-top: 90px;
    flex: 1;

    &.hide-nav {
      margin-top: 0 !important;
    }
  }
}

.w-container {
  width: $wContainer;
}
