.w-navigation {
  position: fixed;
  z-index: 999; // modal z-index = 1000;
  top: 0;
  width: 100%;
  background-color: white;
  height: $wNavHeight;

  .nav-content {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $wContainer;
    margin: auto;

    .logo {
      font-family: 'Ballpark', sans-serif !important;
      font-size: 36px;
      color: $dark;
      cursor: pointer;
    }

    .user {

      .visitor {
        color: $purple;
        cursor: pointer;
      }
    }
  }

  .nav-line-bottom {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;

    div {
      height: 10px;
      width: 100%;

      &:nth-child(odd) {
        background-color: $skin;
      }

      &:nth-child(even) {
        background-color: $green;
      }
    }
  }
}

.w-auth-pop-title {
  color: #87D1CD;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.w-auth-pop-des {
  margin-top: 50px;
  color: #262626;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.btn-auth-pop {
  padding: 12px 16px;
  border-radius: 30px;
  background: #87D1CD;
  transition: all .3s ease-in-out;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    transform: scale(0.9);
    background: $green;
  }
}