@layer components {
  .btn-primary {
    background: $green !important;

    div, span {
      background: transparent !important;
      color: $dark !important;
      font-weight: normal !important;
      font-size: 16px !important;
      line-height: 26px !important;
    }
  }

}
