@layer components {
  .card-ticket {
    position: relative;
    background: $dark;
    border-radius: $border-radius;
  }

  .card-ticket::before {
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $dark;
    z-index: 2;
  }

  .card-ticket::after {
    content: "";
    display: block;
    position: absolute;
    top: 70%;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $dark;
    z-index: 2;
  }


}
