<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-survey-category-item">
            <img class="survey-category-image" [src]="urlImageBase + surveyCategory.imageFeature" [alt]="surveyCategory.name" />
            <div class="survey-category-name">{{surveyCategory.name}}</div>
            <button class="btn-to-survey" (click)="navigateToSurveyList()">
                <span>{{t("shared.survey-category.survey-category-card-item.btn-survey")}}</span>
                <tui-svg [src]="'tuiIconArrowRight'" class="btn-to-survey-arrow"></tui-svg>
            </button>
        </div>
    </ng-container>
</ng-container>
