<ng-container *transloco="let t;">
    <ng-container *ngIf="(deviceInfo$ | async)?.isDesktop">
        <div class="w-quiz-wrap" *ngIf="!isDone">
            <form [formGroup]="form" class="w-quiz-content">
                <div class="w-question-name" [innerHTML]="surveyQuestion?.description"></div>

                <ng-container *ngIf="surveyQuestion?.answerDisplayType === SURVEY_QUESTION_ANSWER_DISPLAY_TYPE.ANSWER_DISPLAY_TYPE_LIST.value">
                    <div class="w-question-answer-display-type-list">
                        <ng-container *ngFor="let answer of surveyAnswerList; let index = index;">

                            <ng-container *ngIf="answer.displayType === SURVEY_ANSWER_DISPLAY_TYPE.DISPLAY_TYPE_SELECT.value">
                                <div class="w-card-quiz-list w-list-answer-display-type-select"
                                     [class.with-image]="answer?.imageFeature"
                                     [class.active]="isAnswerSelected(answer)"
                                     (click)="onToggleSelectAnswer(answer)">
                                    <img *ngIf="answer?.imageFeature" [src]="urlImageBase + answer?.imageFeature" alt="" />
                                    <div class="flex-grow flex flex-col items-start justify-center text-left" [innerHTML]="answer?.description"></div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="surveyQuestion?.answerSelectType === SURVEY_QUESTION_ANSWER_SELECT_TYPE.ANSWER_SELECT_TYPE_ONE.value">
                                <ng-container *ngIf="answer.displayType === SURVEY_ANSWER_DISPLAY_TYPE.DISPLAY_TYPE_PROGRESS_BAR.value">
                                    <div class="w-list-answer-display-type-progress-bar">
                                        <div class="flex flex-col items-center justify-center gap-2" [innerHTML]="answer?.description"></div>
                                        <input tuiSlider
                                               (change)="sliderChange($event)"
                                               type="range"
                                               size="m"
                                               [max]="answer?.demandScore"
                                               formControlName="answerDemandScore"
                                               class="mt-8"/>
                                        <div class="w-100 text-center">
                                            <ng-container *ngIf="formControls['answerDemandScore'].value >= 0 && formControls['answerDemandScore'].value < 20">
                                                <div class="status-progress">{{t("features.pages.quiz.progress-status.low")}}</div>
                                            </ng-container>
                                            <ng-container *ngIf="formControls['answerDemandScore'].value >= 20 && formControls['answerDemandScore'].value < 40">
                                                <div class="status-progress">{{t("features.pages.quiz.progress-status.medium")}}</div>
                                            </ng-container>
                                            <ng-container *ngIf="formControls['answerDemandScore'].value >= 40 && formControls['answerDemandScore'].value < 60">
                                                <div class="status-progress">{{t("features.pages.quiz.progress-status.fit")}}</div>
                                            </ng-container>
                                            <ng-container *ngIf="formControls['answerDemandScore'].value >= 60 && formControls['answerDemandScore'].value < 80">
                                                <div class="status-progress">{{t("features.pages.quiz.progress-status.high")}}</div>
                                            </ng-container>
                                            <ng-container *ngIf="formControls['answerDemandScore'].value >= 80 && formControls['answerDemandScore'].value <= 100">
                                                <div class="status-progress">{{t("features.pages.quiz.progress-status.very-high")}}</div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="answer.displayType === SURVEY_ANSWER_DISPLAY_TYPE.DISPLAY_TYPE_INPUT.value">
                                    <div class="w-list-answer-display-type-input">
                                        <div class="flex flex-col items-center justify-center" [innerHTML]="answer?.description"></div>
                                        <textarea rows="8" autofocus formControlName="answerText"></textarea>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="answer.displayType === SURVEY_ANSWER_DISPLAY_TYPE.DISPLAY_TYPE_IMAGE_UPLOAD.value">
                                    <div class="w-list-answer-display-type-image-upload">
                                        <div class="w-100" [innerHTML]="answer?.description"></div>
                                    </div>
                                </ng-container>
                            </ng-container>

                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="surveyQuestion?.answerDisplayType === SURVEY_QUESTION_ANSWER_DISPLAY_TYPE.ANSWER_DISPLAY_TYPE_GRID.value">
                    <div class="w-question-answer-display-type-grid">
                        <ng-container *ngFor="let answer of surveyAnswerList; let index = index;">

                            <ng-container *ngIf="answer.displayType === SURVEY_ANSWER_DISPLAY_TYPE.DISPLAY_TYPE_SELECT.value">
                                <div class="w-card-quiz-grid w-grid-answer-display-type-select"
                                     [class.with-image]="answer?.imageFeature"
                                     [class.active]="isAnswerSelected(answer)"
                                     (click)="onToggleSelectAnswer(answer)">
                                    <img *ngIf="answer?.imageFeature" [src]="urlImageBase + answer?.imageFeature" alt="" />
                                    <div class="flex flex-col items-center justify-center text-center" [innerHTML]="answer?.description"></div>
                                </div>
                            </ng-container>

                        </ng-container>
                    </div>
                </ng-container>

            </form>
            <div class="w-quiz-footer" *ngIf="surveyAnswerList && surveyAnswerList.length">
                <div class="flex flex-col items-center justify-center gap-9">
                    <button class="btn-next-question-quiz ht-46" [class.active]="canSubmit" (click)="canSubmit && onSubmit()">
                        {{t("features.pages.quiz.btn-next")}}
                    </button>
                    <div class="flex items-center gap-20">
                        <tui-marker-icon size="s" [src]="'tuiIconArrowLeftLarge'" class="btn-ic-prev" [class.active]="questionStep && questionStep > 1" (click)="questionStep && questionStep > 1 && prevQuestion()"></tui-marker-icon>
                        <div class="font-bold text-2xl">{{questionStep}}</div>
                        <tui-marker-icon size="s" [src]="'tuiIconArrowRightLarge'" class="btn-ic-next" [class.active]="canNextQuestion" (click)="canNextQuestion && nextQuestion(false)"></tui-marker-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-quiz-wrap" *ngIf="isDone">
            <img src="assets/images/done-survey.png" alt="" width="567" height="auto" />
            <div class="w-quiz-page-thank-title">{{t("features.pages.quiz.thank-you-1")}}</div>
            <div class="w-quiz-page-thank-description">{{t("features.pages.quiz.thank-you-2")}}</div>
            <div class="mt-[20px] flex items-center justify-center gap-6">
                <button class="btn-to-product-recommend" (click)="getProductRecommend()">{{t("features.pages.quiz.product-recommend")}}</button>
                <button class="btn-to-redo" (click)="redoSurvey()">{{t("features.pages.quiz.redo-survey")}}</button>
                <button class="btn-to-home" routerLink="/">{{t("features.pages.quiz.home")}}</button>
            </div>
        </div>
    </ng-container>
</ng-container>